{% extends "network/layout.html" %}

{% block body %}
{% load static %}
    {% if user.is_authenticated %}
        <h2>New Post</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
        <h2>All Posts</h2>
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-header">
                    <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a> - {{ post.timestamp }}
                    {% if user == post.user %}
                        <button class="edit-button" data-post="{{ post.id }}">Edit</button>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p id="post-content-{{ post.id }}">{{ post.content }}</p>
                    <p>Likes: {{ post.likes }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Log in to see posts</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% block script %}
        <script src="{% static 'network/edit_post.js' %}"></script>
    {% endblock %}
{% endblock %}