{% extends "network/layout.html" %}

{% block body %}
{% load static %}
    <h2>{{ user_profile.username }}'s Profile</h2>
    <p>Followers: {{ user_profile.followers.count }}</p>
    <p>Following: {{ user_profile.following.count }}</p>

    {% if user != user_profile and user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            <button type="submit" class="btn btn-primary">{{ action }} {{ user_profile.username }}</button>
        </form>
    {% endif %}

    <hr>
    <h2>Posts</h2>
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">{{ post.user.username }} - {{ post.timestamp }}
            {% if user == post.user %}
                <button class="edit-button" data-post="{{ post.id }}">Edit</button>
            {% endif %}
            </div>
            <div class="card-body">
                <p id="post-content-{{ post.id }}">{{ post.content }}</p>
                <p>Likes: {{ post.likes }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% block script %}
        <script src="{% static 'network/edit_post.js' %}"></script>
    {% endblock %}
{% endblock %}